<div class="hero-unit">
  <h1>Excellent notes!</h1>
  <p>Extremely simple to use notes app, built with HTML5, CSS3 and JavaScript.
  Everything is stored locally in your browser. Take a step into the
  future!</p>
  <p>This app is built with the help of the libraries <a
    href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a> and <a
  href="http://www.angularjs.org/">AngularJS</a>.</p>
  <p>
    <a href="#/notes" class="btn btn-primary btn-large">
      Show all your notes
    </a>
    <a href="#/notes/new" class="btn btn-primary btn-large">
      Create a new note
    </a>
  </p>
</div>
